/* Navbar */
:root {
    --bs-primary: #3b9c9c;
    --bs-secondary: #8ccbcb;
    --bs-success: #3b9c9c;
    --bs-info: #8ccbcb;
    --bs-warning: #3b9c9c;
    --bs-danger: #8ccbcb;
    --bs-light: #fff;
    --bs-dark: #000;
}

.nav-link {
    transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease;
}

.nav-link:hover {
    border-radius: 50rem;
    background-color: #8ccbcb !important;
    color: #fff !important;
  padding: 0.5rem 1rem; /* Opcional: más espacio */
}
.nav-link.active {
    border-radius: 50rem;
    background-color: #3b9c9c !important;
    color: #fff !important;
    padding: 0.5rem 1rem; /* Opcional: más espacio */
}

.ul-custom-navbar {
    gap: 0.5rem;
}

.mi-nav {
    background-color: #fff;
    max-height: 80px;
}

.collapse-custom-navbar {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 9999;
}

.navbar-logo {
    max-height: 100px;
    height: auto;
    width: auto;
    scale: 1/1;
}

@media (max-width: 768px) {
    .navbar-logo {
    max-height: 60px;
    }
}

/* Principal */

.principal-custom {
    min-height: 100vh;
}

/* Footer */
.footer-custom {
    background-color: #3b9c9c;
    color: #fff;
}

.logos-custom {
    height: 32px;
    width: auto;
    margin-right: 3px; /* separa el logo del texto */
    vertical-align: middle; /* alinea con el texto */
}
