<!DOCTYPE html>
<html>
    <lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
        <title>Titulo pagina</title>
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet" integrity=" " crisscrossorigin=" ">
        <link href="../assets/css/miestilo.css" rel="stylesheet" integrity=" " crisscrossorigin=" ">
    </head>

    <body>
        <p style="color:red"> </p>
        <h1>Prueba Bootstrap</h1>
        <h2 class="clase">Hola prueba de selector de clase</h2>
        <script src="../assets/js/bootstrap.bundle.min.js" integrity="" crisscrossorigin=""></script>
    </body>
    <footer>

    </footer>
</html>